<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    html,
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.container {
  min-height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(45%);
  background-image: url("https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.15752-9/325640548_853966265886808_1509444374333421275_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wjT3vsiLb74AX-yDU20&tn=IF2VWQdX84E3ikBr&_nc_ht=scontent.fbkk7-3.fna&oh=03_AdTAByOUqnlC8dDVx_gU0kGdBrlzsA0YIHKav1OBJOYiKg&oe=63F63165");
  background-size: cover;
  background-position: center;
}
.navBar {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 15vh;
}
.navBar ul {
  display: flex;
  align-items: center;
}
.navBar ul li {
  padding: 0 25px;
}
.navBar ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.navBar .logo a {
  font-size: 2.3rem;
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.name {
  color: #fff;
  padding: 12px;
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.card h2 {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1,
.box2,
.box3,
.box4 {
  width: 90%;
  height: 220px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.box1 {
  /* background-image: url("https://o.remove.bg/downloads/cadbfd62-b4b6-4bd8-a399-cd95dbde8d72/image-removebg-preview.png"); */
  background-image: url("https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.15752-9/325640548_853966265886808_1509444374333421275_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wjT3vsiLb74AX-yDU20&tn=IF2VWQdX84E3ikBr&_nc_ht=scontent.fbkk7-3.fna&oh=03_AdTAByOUqnlC8dDVx_gU0kGdBrlzsA0YIHKav1OBJOYiKg&oe=63F63165");
}
.box2 {
  /* background-image: url("https://o.remove.bg/downloads/73542d67-3596-4d0b-8466-18337aa9b431/image-removebg-preview.png"); */
  background-image: url("https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.15752-9/325640548_853966265886808_1509444374333421275_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wjT3vsiLb74AX-yDU20&tn=IF2VWQdX84E3ikBr&_nc_ht=scontent.fbkk7-3.fna&oh=03_AdTAByOUqnlC8dDVx_gU0kGdBrlzsA0YIHKav1OBJOYiKg&oe=63F63165");
}
.box3 {
  /* background-image: url("https://cdn-icons-png.flaticon.com/512/3115/3115114.png"); */
  background-image: url("https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.15752-9/325640548_853966265886808_1509444374333421275_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wjT3vsiLb74AX-yDU20&tn=IF2VWQdX84E3ikBr&_nc_ht=scontent.fbkk7-3.fna&oh=03_AdTAByOUqnlC8dDVx_gU0kGdBrlzsA0YIHKav1OBJOYiKg&oe=63F63165");
}
.box4 {
  /* background-image: url("https://o.remove.bg/downloads/a9ac5ac0-6381-4ea3-a052-8ed672fd383b/image-removebg-preview-removebg-preview.png"); */
  background-image: url("https://scontent.fbkk7-3.fna.fbcdn.net/v/t1.15752-9/325640548_853966265886808_1509444374333421275_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=wjT3vsiLb74AX-yDU20&tn=IF2VWQdX84E3ikBr&_nc_ht=scontent.fbkk7-3.fna&oh=03_AdTAByOUqnlC8dDVx_gU0kGdBrlzsA0YIHKav1OBJOYiKg&oe=63F63165");
}
.name h2 {
  font-size: 2rem;
  letter-spacing: 2.8px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.txt h1 {
  font-size: 7rem;
}
.name p {
  opacity: 0.4;
}
.tnx h2 i {
  color: #fd7e13;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
</style>
<div class="container bg">
  <div class="navBar">
    <div class="logo">
      <a href="#">   
      </a>
    </div>
    <ul>
      <li><a href="http://127.0.0.1:5000">Home</a></li>
      <li><a href="http://127.0.0.1:5000">About</a></li>
      <li><a href="http://127.0.0.1:5000">Service</a></li>
      <li><a href="http://127.0.0.1:5000">Contact</a></li>
    </ul>
  </div>

  <div class="content">
    <div class="name" style="width:50%;">
      <div class="tnx">
        <h2></i> My name is</h2>
      </div>
      <div class="txt">
        <h1>Wiritpol</h1>
        <h1>Nukongka</h1>
      </div>
      <p>Let me introduce myself! my name is Wiritpol Nukongka. My friends called me "โอมสุดหล่อ"
        This is a blog about me, it's all my details that make you know me better.
      </p>
    </div>
    <div class="card" style="width:50%;">
      <a href="https://www.facebook.com/ohmbababa" target="_blank">
        <div class="box1">
          <h2>Personal Data</h2>
        </div>
      </a>
      <a href="https://www.facebook.com/ohmbababa" target="_blank">
        <div class="box2">
          <h2>Education</h2>
        </div>
      </a>
      <a href="https://www.facebook.com/ohmbababa" Skills="_blank">
        <div class="box3">
          <h2>Skills</h2>
        </div>
      </a>
      <a href="https://www.facebook.com/ohmbababa" Activity="_blank">
        <div class="box4">
          <h2>Activity</h2>
        </div>
      </a>

    </div>
  </div>

</div>